<% provide(:title) do %>
  Activity Type #<%= @activity_type.id %>
<% end %>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="col-sm-2">Name</th>
      <td><%= @activity_type.name %></td>
    </tr>
    <!-- <tr>
      <th class="col-sm-2">Emoji</th>
      <td><%= @activity_type.emoji %></td>
    </tr> -->
    <tr>
      <th class="col-sm-2">Measure</th>
      <td><%= @activity_type.measure %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Time conversion</th>
      <td><%= @activity_type.time_conversion %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Edit", edit_activity_type_path(@activity_type), class: "btn btn-primary" %>
  <%= link_to "Back", activity_types_path, class: "btn btn-link" %>
</p>
