<% provide(:title, "Listing activities") %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Activity type</th>
      <th>Challenge</th>
      <th>Amount</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.activity_type %></td>
        <td><%= activity.challenge %></td>
        <td><%= activity.amount %></td>
        <td><%= activity.user %></td>
        <td>
          <div class="btn-group">
            <%= link_to activity, class: "btn btn-xs btn-default" do %>
              <%= fa_icon("eye", text: "Show") %>
            <% end %>
            <%= link_to edit_activity_path(activity), class: "btn btn-xs btn-default" do %>
              <%= fa_icon("pencil", text: "Edit") %>
            <% end %>
            <%= link_to activity, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this activity?" } do %>
              <%= fa_icon("trash-o", text: "Destroy") %>
            <% end %>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_activity_path, class: "btn btn-default" do %>
  <%= fa_icon("plus", text: "New Activity") %>
<% end %>
